<section id="faq" class="faq bg-light">
  <div class="px-md py-md">
    <div class="grid-noGutter">
      <div class="col-6_sm-12-middle">
        <h2 class="editable">
          Perguntas frequentes
        </h2>
        <p class="editable">Clique na pergunta para saber mais detalhes. <br/>
          Não achou a resposta que buscava? <a href="https://wa.me/{{site.data.settings.global.tel | remove: ' ' | remove: '(' | remove: ')' | remove: '-'}}" class="inline-anchor" rel="noreferrer noopener">Entre em contato</a></p>
      </div>
      <div class="col-6_sm-12-middle">
        {% for faq in section.faqs %}
        <div class="faq-container">
          <button class="faq-btn">
            {{faq.faq_title}}
          </button>
          <div class="faq-content">
            <p>{{faq.faq_content_html}}</p>
          </div>
        </div>
        {% endfor %}     
      </div>
    </div>
  </div>
</section>