<section id="overview" class="overview">
  <svg id="triangle-svg-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1898.021 65.626"><path d="M3888.021,5250.067,1990,5315.694H3888.021Z" transform="translate(-1990 -5250.067)" /></svg>
  <div class="center text-padding">
    <h2>
      {{section.cabecalho_html}}
    </h2>
    <p>
      {{section.texto_html}}
    </p>
    {% if section.incluir_botao %}
      <a href="{{section.destino_botao_url}}" class="btn" data-aos="zoom-in" data-aos-duration="900" aria-label="Clique para acessar mais informações sobre {{section.cabecalho_html}}">{{section.texto_botao}}</a>
    {% endif %}
  </div>
</section>