.faq-container {
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  border-color: inherit;
  padding: 1rem;
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  .faq-btn {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0;
    position: relative;
    z-index: 100;
    &:focus {
      outline: none;
      stroke: $accent-color;
    }
  }
  .faq-content {
    transform: scale(0);
    height: 0;
    transition: transform 0.1s;
    position: relative;
    z-index: 99;
  }
  .faq-content.reveal {
    transform: scale(1);
    height: auto;
    margin-top: 1.5rem;
    transition: transform 0.3s;
    position: relative;
    z-index: 99;
  }
}