.faq-container {
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  border-color: inherit;
  padding: 1rem;
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  .faq-btn {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0;
    &:focus {
      outline: none;
      color: $accent-color;
    }
  }
  .faq-content {
    opacity: 0;
    height: 0;
    transition: 0.1s all;
  }
  .faq-content.reveal {
    opacity: 1;
    height: auto;
    margin-top: 1.5rem;
    transition: 0.1s all;
  }
}