<footer class="grid-noGutter-spaceAround footer bg-dark">
  <div class="col-6_sm-12">
    <a href="/" class="clickable-logo center"><img src="/assets/images/logo.png" alt=""></a>
    <div class="contact center">
      <span>Marina Itajaí</span>
      <span>Itajaí - 88301-445</span>
      <span>Santa Catarina - Brasil</span>
      <a href="tel:{{site.data.settings.global.tel | remove: " "}}">{{site.data.settings.global.tel}}</a>
      <a href="mailto:{{site.data.settings.global.email}}">{{site.data.settings.global.email}}</a>
    </div>
  </div>
  <div class="col-6_sm-12 social center">
    <a href="" class="social-link">{% include social-icons.html icon="Instagram" %}</a>
    <a href="" class="social-link">{% include social-icons.html icon="Messenger" %}</a>
    <a href="" class="social-link">{% include social-icons.html icon="WhatsApp" %}</a>
  </div>
</footer>