---
layout: default
---
{% for section in page.sections %}
  {% case section._id %}
    {% when 'overview' %}
      {% include sections/overview.html %}
    {% when 'image-boxes' %}  
      {% include sections/image-boxes.html %}
  {% endcase %}
{% endfor %}

  
<section id="full-width-img" class="full-width-img">
  <img src="/assets/images/placeholder-19.jpg" alt="" class="responsive-img">
</section>
<section id="highlights" class="highlights">
  <svg id="triangle-svg-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1898.021 65.626"><path d="M1990,5250.067l1898.021,65.626H1990Z" transform="translate(-1990 -5250.067)"/></svg>
  <div class="text-padding">
    <div class="grid-noGutter center">
      <div class="col-6_sm-12-middle">
        <h2>
          A heading 2
        </h2>
      </div>
      <div class="col-6_sm-12-middle">
        <ul>
          <li class="highlights-item">Something here</li>
          <li class="highlights-item">Something here</li>
          <li class="highlights-item">Something here</li>
          <li class="highlights-item">Something here</li>
          <li class="highlights-item">Something here</li>
          <li class="highlights-item">Something here</li>
        </ul>
      </div>
    </div>
  </div>
</section>