---
layout: default
---

{% include sections.html %}
{{content}}
  
<section id="full-width-img" class="full-width-img flex-center">
  <img src="/assets/images/boat-placeholder-00008.jpg" alt="" class="responsive-img" />
  <div class="content px-lg">
    <h2 class="editable">Aprenda a velejar em Santa Catarina!</h2>
    <p class="editable">Descubra uma nova paixão e aventure-se! Oferecemos descontos para pagamentos a vista, grupos fechados, casais, treinamentos em dias de semana e/ou sem pernoites e alimentação inclusos. Vagas e saídas limitadas.</p>
    <a href="/contato" class="btn-outline">Peça mais informações</a>
  </div>
</section>
