---
layout: default
---
<section id="overview" class="overview">
  <svg id="triangle-svg-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1898.021 65.626"><path d="M3888.021,5250.067,1990,5315.694H3888.021Z" transform="translate(-1990 -5250.067)" /></svg>
  <div class="center text-padding">
    <h2>
      A heading 2
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolorum fuga optio. Incidunt non aliquid eum qui possimus pariatur amet nemo! Aut perspiciatis dolorum quos consequuntur magni corporis officia. Nulla eveniet nobis accusamus veritatis aspernatur eligendi at corrupti earum natus totam repellendus ipsam, ad adipisci debitis porro blanditiis, rerum unde.
    </p>
    <a href="" class="btn">Learn more</a>
  </div>
</section>
<section id="image-boxes" class="image-boxes bg-light">
  <div class="grid-noGutter-equalHeight">
    <div class="col-6_sm-12-middle">
      <div class="img-box">
        <img src="/assets/images/boat-placeholder-00007.jpg" alt="" class="responsive-img">
      </div>
    </div>
    <div class="col-6_sm-12-middle">
      <div class="flex-center text-padding center">
        <h2>
          A heading 2
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam fugiat vitae maxime temporibus. Ea id doloremque odio possimus earum, deleniti ipsa suscipit aut incidunt dolorum iusto blanditiis, vitae numquam qui beatae ipsam, deserunt delectus repellendus exercitationem sed sunt quidem magnam.
        </p>
      </div>
    </div>
  </div>
  <div class="grid-noGutter-equalHeight-reverse">
    <div class="col-6_sm-12-middle">
      <div class="img-box">
        <img src="/assets/images/boat-placeholder-00002.jpg" alt="" class="responsive-img">
      </div>
    </div>
    <div class="col-6_sm-12-middle">
      <div class="flex-center text-padding center">
        <h2>
          A heading 2
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam fugiat vitae maxime temporibus. Ea id doloremque odio possimus earum, deleniti ipsa suscipit aut incidunt dolorum iusto blanditiis, vitae numquam qui beatae ipsam, deserunt delectus repellendus exercitationem sed sunt quidem magnam.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="full-width-img" class="full-width-img">
  <img src="/assets/images/placeholder-19.jpg" alt="" class="responsive-img">
</section>
<section id="highlights" class="highlights">
  <svg id="triangle-svg-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1898.021 65.626"><path d="M1990,5250.067l1898.021,65.626H1990Z" transform="translate(-1990 -5250.067)"/></svg>
  <div class="text-padding">
    <div class="grid-noGutter center">
      <div class="col-6_sm-12-middle">
        <h2>
          A heading 2
        </h2>
      </div>
      <div class="col-6_sm-12-middle">
        <ul>
          <li class="highlights-item">Something here</li>
          <li class="highlights-item">Something here</li>
          <li class="highlights-item">Something here</li>
          <li class="highlights-item">Something here</li>
          <li class="highlights-item">Something here</li>
          <li class="highlights-item">Something here</li>
        </ul>
      </div>
    </div>
  </div>
</section>